[Unit]
Description=PulseAudio Bluetooth
After=pulseaudio.service
Requires=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pactl load-module module-bluetooth-policy ; /usr/bin/pactl load-module module-bluetooth-discover
ExecStop=/usr/bin/pactl unload-module module-bluetooth-discover ; /usr/bin/pactl unload-module module-bluetooth-policy

[Install]
WantedBy=default.target
